.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
**/local.properties
**/.DS_Store
**/bin/
**/gen/
**/out/
**/*.iml
.idea/
.DS_Store
bin/
**/build/
release
.settings
*/.project
*/.classpath
.project
